# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform/templates/lambdas_code/deploy/

# IDE
.vscode/
.idea/

# Kiro
.kiro/
